/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
}

.main-container {
  max-width: 86rem;
  margin: 22rem auto;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-template-rows: 1fr 1fr;
  row-gap: 1.8rem;
  column-gap: 1.8rem;
}
/* 
.border-container {
  position: relative;
}

.container-card {
  place-self: stretch;
} */

.track-card {
  background-color: hsl(235, 46%, 20%);
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  overflow: hidden;
  border-radius: 0.8rem;
  cursor: pointer;
}

.track-card:active {
  background-color: hsl(235, 46%, 30%);
}

.track-border {
  height: 2.9rem;
  /* position: relative; */
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  max-width: 20rem;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.track-border--work {
  background-color: hsl(15, 100%, 70%);
  box-shadow: 0 1rem 0 0 hsl(15, 100%, 70%);
}
.track-border--play {
  background-color: hsl(195, 74%, 62%);
  box-shadow: 0 1rem 0 0 hsl(195, 74%, 62%);
}
.track-border--study {
  background-color: hsl(348, 100%, 68%);
  box-shadow: 0 1rem 0 0 hsl(348, 100%, 68%);
}
.track-border--exercise {
  background-color: hsl(145, 58%, 55%);
  box-shadow: 0 1rem 0 0 hsl(145, 58%, 55%);
}
.track-border--social {
  background-color: hsl(264, 64%, 52%);
  box-shadow: 0 1rem 0 0 hsl(264, 64%, 52%);
}
.track-border--selfcare {
  background-color: hsl(43, 84%, 65%);
  box-shadow: 0 1rem 0 0 hsl(43, 84%, 65%);
}

.track-img {
  /* background: url("images/icon-work.svg") no-repeat;
  background-size: contain;
  height: 3rem;
  transform: scale(1);
  position: absolute;
  top: 50px;
  left: 50px;
  overflow: hidden;
  z-index: 2; */
  position: absolute;
  right: 1rem;
  top: -1rem;
  height: 5.4rem;
  overflow: hidden;
}

.track-card--second {
  padding: 2.4rem 1.8rem;
  overflow: hidden;
}

.profile-card--second {
  padding: 2.4rem 1.8rem;
  overflow: hidden;
}

.track-activity {
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.4rem;
}

.track-dots {
  color: hsl(236, 100%, 87%);
  font-size: 1.8rem;
  line-height: 90%;
  cursor: pointer;
}

.track-dots:active {
  color: #fff;
}

.track-time {
  font-size: 4.8rem;
  font-weight: 300;
  padding-bottom: 0.8rem;
}

.track-timeline {
  font-size: 1.2rem;
  font-weight: 300;
  color: hsl(236, 100%, 87%);
}

/* PROFILE CARD */

.profile-card {
  grid-column: 1;
  grid-row: 1 / -5;
  overflow: hidden;
}

.profile-header {
  background: hsl(246, 80%, 60%);
  height: 27rem;
  border-radius: 0.8rem;
  box-shadow: 0 2rem 0 hsl(235, 46%, 20%);
  padding: 2.4rem 1.8rem;
}

.profile-count {
  background-color: hsl(235, 46%, 20%);
  height: 13.2rem;
  border-radius: 0.8rem;
}

.profile-img {
  width: 6rem;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.profile-text {
  font-size: 1rem;
  color: hsl(236, 100%, 87%);
  padding-top: 3.4rem;
  padding-bottom: 0.3rem;
}

.profile-name {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 300;
}

.profile-count {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.profile-timeline {
  color: hsl(236, 100%, 87%);
  font-size: 1rem;
  margin-left: 1.8rem;
  cursor: pointer;
}

.profile-timeline:active {
  color: #fff;
}
